@import 'variables';

h2 {
  color: darkblue;
}

.card-course-item {
  margin-top: 16px;
}

.checkbox-select-all-options {
  width: 150px;
  margin: 0px 10px;
}

.container {
  min-height: 85%;
}

footer {
  background-color: black;
  color: #a9b3bb;
  padding: 10px;
}

footer .container {
  min-height: 0vh;
}

footer h5 {
  color: #fff;
}

footer a {
  color: #a9b3bb;
  text-decoration: none;
}